<section id="main-content">
  <section class="wrapper">
    <% @boards.each do |board|  %>
      <%=  link_to board.title, user_board_path(current_user, board), method: 'get' %>
      <br>
    <% end %>
  </section>
</section>
