<section id="main-content">
  <section class="wrapper">
  <canvas id= "myCanvas" width="600" height="400"></canvas>
  </section>
</section>


<script>
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');

  // do cool things with the context
  context.font = '40pt Calibri';
  context.fillStyle = 'blue';
  context.fillText('Hello World!', 150, 100);
</script>